.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar  */
.navbar{
  display: flex;
  background-color: rgba(3, 3, 22, 0.726);
  justify-content: center;
}

h2{
  color: white;
  text-decoration-color: white;
}

.searchBox{
  display: inline-flex;
  margin: 1em;
}

button{
  height: 100pxpx;
  color: white;
  background-color: blue;
  border-radius: 0px 5px 5px 0px;
}
 
.inputFeild{
  height: 100pxpx;
  border-radius: 5px 0px 0px 5px;
  width: 200px;
  padding: 2%;
}


/* gallery  */
.Gallery{

  margin:5% 2%;
}



/* pics */

img{
  margin: 5px;
}

h3{
  color: black;
  text-align: left;
}

.list-group{
  margin-bottom: 1%;
}
